:root{
    /* Color palette */
    --primary-color: #5BA1C1!important;
    --primary1-second:#8FCBE6!important;
    --primary-second: rgba(134, 216, 255, 0.3)!important;
    --primary-third: rgba(89, 193, 243, 0.3)!important;
    --primary1-third: #01627F!important;
    --primary-dark: #003C57!important;
    --secondary-color-light: #773400!important;
    --secondary-color-dark: #ffb172!important;
    --secondary1-second: #964100!important;
    --secondary-second: rgba(165, 85, 23, 0.3)!important;
    --secondary-third: rgba(171, 75, 0, 0.3)!important;
    --third-color: #f8425f!important;
    --third-dark: #ff9eae!important;
    --third-second: rgba(253, 170, 184, 0.3)!important;
    --third-third: rgba(255, 109, 132, 0.3)!important;
    --fourth-color: #c590cf!important;
    --fourth-second: rgba(235, 197, 243, 0.3)!important;
    --fourth-third: rgba(230, 177, 241, 0.3)!important;
    
    --black: #18191a!important;
    --gray: #242526!important;
    --light-gray: #f0f2f5!important;
    --black1: rgba(20, 20, 20, 0.1)!important;
    --black2: rgba(20, 20, 20, 0.2)!important;
    --black5: rgba(20, 20, 20, 0.5)!important;
    --white: #FFFFFF!important;
    --white1: rgba(254, 255, 255, 0.1)!important;
    --white5: rgba(254, 255, 255, 0.5)!important;

    /* Light theme */
    --black-color: #18191a;
	--light-color: #FFFFFF;
    --light-gray-color: #f0f2f5!important;
	--light-second-color: rgba(255, 255, 255, 0.1)!important;
	--light-third-color: rgba(255, 255, 255, 0.5)!important;
	--light-dark1: rgba(20, 20, 20, 0.1)!important;
	--light-dark5: rgba(20, 20, 20, 0.5)!important;

    /* Dark theme */
    --white-color: #FFFFFF;
	--dark-color: #18191a;
    --dark-gray-color: #242526!important;
	--dark-second-color: rgba(20, 20, 20, 0.1)!important;
	--dark-third-color: rgba(20, 20, 20, 0.5)!important;
    --dark-light1: rgba(254, 255, 255, 0.1)!important;
	--dark-light5: rgba(254, 255, 255, 0.5)!important;

    /* Fonts */
    --pacifico: "Pacifico", cursive;
    --rubik: "Rubik", sans-serif;
    --mulish: 'Mulish', sans-serif;;
}

.light{
    --default-color: var(--black-color);
	--main-color: var(--light-gray-color);
    --gray-color: var(--light-color);
    --secondary-color: var(--secondary-color-light);
    --secondary-color2: var(--secondary-color-dark);
    --second-color: var(--light-second-color);
    --second-third-color: var(--light-third-color);
    --color1: var(--light-dark1);
    --color5: var(--light-dark5);
}

.dark{
    --default-color: var(--white-color);
	--main-color: var(--dark-color);
    --gray-color: var(--dark-gray-color);
    --secondary-color: var(--secondary-color-dark);
    --secondary-color2: var(--secondary-color-light);
    --second-color: var(--dark-second-color);
    --second-third-color: var(--dark-third-color);
    --color1: var(--dark-light1);
    --color5: var(--dark-light5);
}

.light .light-icon{
    display: none;
}

.dark .dark-icon{
    display: none;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--mulish);
    box-sizing: border-box!important;
}

body{
    background: var(--main-color);
    overflow-x: hidden;
    font-size: 1rem;
}

a, a:hover{
    text-decoration: none;
}

::-webkit-scrollbar{
    width: 10px;
}
  
::-webkit-scrollbar-track{
    background: var(--black1);
}
   
::-webkit-scrollbar-thumb{
    background: var(--primary-dark);
}
  
::-webkit-scrollbar-thumb:hover{
    background: var(--primary1-third); 
}

/* Navigation styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    width: 100%;
    background: var(--gray-color);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

nav .nav-left{
    width: 50%;
    display: flex;
    gap: 20px;
}

nav .nav-left .logo{
    display: flex;
    color: var(--primary-color);
}

nav .nav-left .logo i{
    font-size: 35px;
    margin-right: 10px;
    color: var(--primary-color);
}

nav .nav-left .logo p{
    font-size: 26px;
    font-weight: 300;
    font-family: var(--pacifico);
    line-height: 33px;
}

nav .nav-left .logo p span{
    font-size: 26px;
    font-weight: 600;
    font-family: var(--rubik);
}

nav .nav-left .menu-btn{
    font-size: 26px;
    color: var(--primary-color);
    transition: .35s;
    cursor: pointer;
}

nav .nav-left .menu-btn:hover{
    color: var(--secondary-color);
}

nav .nav-left .menu-btn i.open,
nav .nav-left .menu-btn.active i.close{
    display: inline-block;
}

nav .nav-left .menu-btn.active i.open,
nav .nav-left .menu-btn i.close{
    display: none;
}

nav .nav-links{
    flex: 1;
    text-align: right;
}

nav .nav-links ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}

nav .nav-links ul li{
    list-style: none;
    padding: 8px 0;
    position: relative;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}

nav .nav-left .nav-links ul li a{
    color: var(--color5);
    transition: all .35s ease-in-out;
}

nav .nav-right .nav-links ul li:not(#user-settings) a{
    color: var(--color5);
    transition: all .35s ease-in-out;
}

nav .nav-right .nav-links ul li:not(#user-settings).active a{
    color: var(--secondary-color);
}

nav .nav-left .nav-links ul li:hover a,
nav .nav-right .nav-links ul li:not(#user-settings,#notifications):hover a{
    color: var(--secondary-color);
}

nav .nav-left .nav-links ul li.active a{
    color: var(--secondary-color);
}

nav .nav-links ul li:not(.icon, #user-settings, #dropdown-menu)::after{
    content: '';
    width: 0%;
    height: 2px;
    background: var(--secondary-color);
    display: block;
    transition: 0.5s;
    opacity: 0;
}

nav .nav-links ul li:not(.icon, #user-settings, #dropdown-menu, .dropdown-noti-item):hover::after{
    width: 100%;
    opacity: 1;
}

nav .nav-links ul li a i.dark-icon,
nav .nav-links ul li a i.light-icon,
nav .nav-links ul li a i.notifications-icon{
    font-size: 26px;
}
nav .nav-links ul li a span.header-badge{
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -10px;
    padding: 3px;
    background: var(--primary-color);
    color: var(--white);
    opacity: 1;
    font-size: 12px;
    min-width: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .nav-links ul li.icon a.toggler-notifications i{
    transition: 0.35s;
}

nav .nav-links ul li.icon a.toggler-notifications:hover i{
    color: var(--secondary-color);
}

nav .nav-links ul li.icon ul#dropdown-noti{
    position: absolute;
    right: 0;
    top: 40px;
    z-index: 999;
    width: 360px;
    background: var(--gray-color);
    display: none;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    white-space: nowrap;
}

nav .nav-links ul li.icon ul#dropdown-noti .dropdown-noti-header{
    padding: 20px;
    text-align: center;
    background-color: var(--main-color);
}

nav .nav-links ul li.icon ul#dropdown-noti .dropdown-noti-header span{
    color: var(--color5);
    font-size: 18px;
    font-weight: 700;
    transition: 0.35s ease;
}

nav .nav-links ul li.icon ul#dropdown-noti .dropdown-noti-content{
    max-height: 500px;
    overflow-y: auto;
}

nav .nav-links ul li.icon ul#dropdown-noti .dropdown-noti-content h4{
    padding: 20px;
    font-size: 18px;
    color: var(--color5);
    text-align: center;
}

nav .nav-links ul li.icon ul#dropdown-noti .dropdown-noti-content .dropdown-noti-item{
    width: 100%;
    padding: 5px 15px 5px 0;
    transition: 0.35s ease;
}

nav .nav-links ul li.icon ul#dropdown-noti .dropdown-noti-content .dropdown-noti-item:hover{
    background: var(--main-color);
}

nav .nav-links ul li.icon ul#dropdown-noti .dropdown-noti-content .dropdown-noti-item .dropdown-noti-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: var(--color5);
    margin-left: 0;
    justify-content: space-between;
}

nav .nav-links ul li.icon ul#dropdown-noti .dropdown-noti-content .dropdown-noti-item .dropdown-noti-link div{
    min-width: 82px;
    height: 50px;
    position: relative;
}

nav .nav-links ul li.icon ul#dropdown-noti .dropdown-noti-content .dropdown-noti-item .dropdown-noti-link i{
    font-size: 24px;
    color: var(--color5);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: .35s;
}

nav .nav-links ul li.icon ul#dropdown-noti .dropdown-noti-content .dropdown-noti-item:hover .dropdown-noti-link i{
    color: var(--primary-color);
}

nav .nav-links ul li.icon ul#dropdown-noti .dropdown-noti-content .dropdown-noti-item .dropdown-noti-link span{
    font-size: 15px;
    min-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: .35s;
}

nav .nav-links ul li.icon ul#dropdown-noti .dropdown-noti-content .dropdown-noti-item:hover .dropdown-noti-link span{
    color: var(--primary-color);
}

nav .nav-links ul li.icon ul#dropdown-noti .dropdown-noti-content .dropdown-noti-item .dropdown-noti-link span > span{
    font-size: 10px;
}

nav .nav-links ul li.icon ul#dropdown-noti .dropdown-noti-footer{
    padding: 20px;
    text-align: center;
    background-color: var(--main-color);
}

nav .nav-links ul li.icon ul#dropdown-noti .dropdown-noti-footer a{
    margin: 0;
}

nav .nav-links ul li.icon ul#dropdown-noti .dropdown-noti-footer a span{
    color: var(--panel-color);
    font-size: 18px;
    font-weight: 700;
    transition: 0.35s ease;
}

nav .nav-links ul li.icon ul#dropdown-noti .dropdown-noti-footer a:hover span{
    color: var(--secondary-color);
}

nav .nav-links ul li.icon ul li#dropdown-menu{
    padding: 8px 12px;
    transition: all .35s;
}

nav .nav-links ul li.icon ul li#dropdown-menu:hover{
    background: var(--primary-color);
}

nav .nav-links ul li.icon ul li#dropdown-menu:hover a{
    color: var(--white);
}

nav .nav-links ul li.icon ul li#dropdown-menu a{
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 20px;
    font-size: 16px;
}

nav .nav-links ul li#user-settings{
    padding: 0;
}

nav .nav-links ul li#user-settings .toggler-user{
    display: flex;
    align-items: center;
    gap: 10px;
}

nav .nav-links ul li#user-settings .toggler-user p{
    color: var(--default-color);
    opacity: .55;
    transition: all .35s;
}

nav .nav-links ul li#user-settings .toggler-user:hover p{
    opacity: 1;
    color: var(--secondary-color);
}

nav .nav-links ul li#user-settings .toggler-user svg,
nav .nav-links ul li#user-settings .toggler-user img{
    cursor: pointer;
    width: 32px;
    height: 32px;
    object-fit: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 2px solid var(--color5);
    transition: all .35s;
}

nav .nav-links ul li#user-settings .toggler-user:hover svg,
nav .nav-links ul li#user-settings .toggler-user:hover img{
    border: 2px solid var(--secondary-color);
}

nav .nav-links ul li#user-settings ul{
    position: absolute;
    right: 0;
    top: 40px;
    z-index: 999;
    min-width: 120px;
    background: var(--gray-color);
    display: none;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    white-space: nowrap;
}

nav .nav-links ul li#user-settings ul li#dropdown-menu{
    padding: 8px 12px;
    transition: all .35s;
}

nav .nav-links ul li#user-settings ul li#dropdown-menu:hover{
    background: var(--primary-color);
}

nav .nav-links ul li#user-settings ul li#dropdown-menu:hover a{
    color: var(--white);
}

nav .nav-links ul li#user-settings ul li#dropdown-menu a{
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 20px;
    font-size: 16px;
}
/* End Navigation styles */

/* The Modal (background) */
.modal{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}
  
.modal .close-outside{
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: absolute;
    top: 0;
}
  
/* Modal Content (image) */
.modal .modal-content{
    display: block;
    width: 80%;
    max-width: 700px;
    z-index: 99;
}
  
/* Caption of Modal Image */
.modal #caption{
    font-weight: bold;
    font-size: 20px;
    color: var(--primary-color);
}
  
/* Add Animation */
.modal .modal-content, #caption{  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    max-height: 80vh;
    width: auto;
}
  
@-webkit-keyframes zoom{
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
  
@keyframes zoom{
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
  
/* The Close Button */
.modal .close{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.modal .close:hover,
.modal .close:focus{
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
  
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal .modal-content{
        width: 100%;
    }
}

/* Sweet alert */
.swal2-icon,
.swal2-success-ring{
    width: 88px!important;
    height: 88px!important;
}

.swal2-popup{
    background: var(--main-color);
}

.swal2-icon.swal2-error{
    border-color: crimson;
    color: crimson;
}

.swal2-icon.swal2-error [class^=swal2-x-mark-line]{
    background-color: crimson;
}

.swal2-title{
    color: var(--default-color);
}

.swal2-styled.swal2-confirm{
    background-color: unset;
}

.swal2-actions:not(.swal2-loading) .swal2-styled{
    background-image: linear-gradient(to right, var(--primary-color) 0%, var(--primary1-second)  51%,var(--primary-color)  100%);
    background-size: 200% auto;
    transition: 0.5s;
    outline: none;
}

.swal2-actions:not(.swal2-loading) .swal2-styled:hover{
    background-image: linear-gradient(to right, var(--primary-color) 0%, var(--primary1-second)  51%,var(--primary-color)  100%);
    background-position: right center;
}

.swal2-styled.swal2-confirm:focus{
    box-shadow: none;
}
/* End Seet alert */
